.skills {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

.skills .container {
    width: 60%;
    height: 60%;
    padding-top: 10%;
}

@media screen and (max-width: 360px) {
    .skills {
        margin-top: 20%;
    }

    .skills .container {
        width: 100%;
    }
}