.menu__lista {
    display: flex;
}

@media screen and (max-width: 768px) {
    .menu__lista {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}