.contato__titulo {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 1px 1px;
    color: rgb(55, 58, 64);
}

@media screen and (max-width: 360px) {
    .contato__titulo {
        font-size: 3rem;
    }
}