.contato__item {
    padding: 0 2rem;
    transition: 0.4s;
}

.contato__item:hover {
    transition: 0.4s;
    scale: 1.1;
}

@media screen and (max-width: 360px) {
    .contato__item {
        margin: 10px;
    }
}