.home__foto {
    background: red;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px #b3c5c3fe;
    transition: 0.5s;
}

.home__foto:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 10px #707978fe;
}

.home__foto--fred {
    background-image: url('../../images/me.jpeg');
}

@media screen and (max-width: 768px) {
    .home__foto {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 360px) {
    .home__foto {
        width: 200px;
        height: 200px;
    }
}