.projeto__titulo {
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 1px 1px;
    color: rgb(55, 58, 64);
}

@media screen and (max-width: 360px) {
    .projeto__titulo {
        font-size: 3rem;
    }
}