.projeto__imagem--ytdownload {
    background-image: url('../../images/image-ytdownload.PNG');
    background-size: cover;
}

.projeto__imagem--portfolio {
    background-image: url('../../images/portfolio.png');
}

.projeto__imagem {
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    box-shadow: 5px 5px 5px black;
    transition: 1s;
    border-radius: 1%;
    filter: blur(1px);
}

.projeto__imagem:hover {
    opacity: 1;
    transition: 1s;
    filter: blur(0);
}

@media screen and (max-width: 360px) {
    .projeto__imagem {
        height: 400px;
        width: 100%;
        filter: blur(0);
        opacity: 0.9;
    }
}

/* .projeto__imagem--github {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url('../../images/icons/icons8-github-250.png');
    height: 50px;
    width: 50px;
    padding: 12px 16px;
    position: absolute;
    left: 46%;
    top: 60%;
    opacity: 1;
    transition: 1s;
}

.projeto__imagem--github:hover {
  scale: 1.1;
  opacity: 1;
  transition: 1s;
} */