.projetos {
    margin-top: 10%;
}

.container-slideshow {
    max-width: 1000px;
    position: relative;
    margin: 5% auto 0;
    padding-top: 10%;
}

@media screen and (max-width: 360px) {
    .projetos {
        margin-top: 20%;
    }
}